# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\study\Go\GeeCache\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
